
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" style="text-align: center;">nombre</th>
    <th scope="col" style="text-align: center;">lugar</th>
    <th scope="col" style="text-align: center;">direccion</th>
    <th scope="col" style="text-align: center;">categoria</th>
    <th scope="col" style="text-align: center;">fecha de Inicio</th>
    <th scope="col" style="text-align: center;">fechaFin</th>
    <th scope="col" style="text-align: center;">presencial</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td style="text-align: center;">{{ data.evento.nombre}}</td>
    <td style="text-align: center;">{{ data.evento.lugar}}</td>
    <td style="text-align: center;">{{ data.evento.direccion}}</td>
    <td style="text-align: center;">{{ categoria}}</td>
    <td style="text-align: center;">{{ data.evento.fechaInicio}}</td>
    <td style="text-align: center;">{{ data.evento.fechaFin}}</td>
    <td style="text-align: center;">{{ presencial}}</td>
  </tr>
  </tbody>
</table>
<div mat-dialog-actions style="text-align: right;">
  <button type="button" class="btn" (click)="onNoClick()" >Volver</button>
</div>
